- provide :page_action, @team.name
- provide :page_title, @organization.name

= render layout: "shared/user_sidebar" do

  = render "organizations/subnav"

  = render "teams/edit_subnav"

  = render "teams/member_table"

  %h5 Add Team Member

  %form#add_team_member{"action" => member_organization_team_path(@organization, @team), "method" => "post", "data-remote" => "true"}
    .control-group
      %input{"type" => "text", "name" => "email", "placeholder" => I18n.t('g.email_address')}

    %button.btn.btn-primary{"data-loading-text" => "Adding..."} Add