!=page_header @project.title

= render "projects/officer_nav"

#admin-response-field-page
  :javascript
    new ProcureIo.Backbone.AdminResponseFieldPage({bootstrapData: #{@project.response_fields.to_json}, projectId: #{@project.id}});