!=page_header @project.title

= render "projects/officer_nav"

%table.table
  %thead
    %tr
      %th Name
      %th Actions

  %tbody
    - @officers.each do |officer|
      %tr
        %td
          =officer.name
          - if officer.owner
            %i.icon-star
        %td actions

= form_for [@project, Officer.new] do |f|
  = f.text_field :email
  = f.submit "Add Collaborator", class: "btn btn-inverse"