- provide :page_action, t('g.officers')

= render "admin/nav"

#searchable-table-page.search-page
  :javascript
    new ProcureIo.Backbone.SearchableTable({
      collection: ProcureIo.Backbone.OfficerList,
      columns: [
        {
          name: "#{Officer.human_attribute_name(:name)}",
          accessor: 'name',
          sortKey: 'name',
          defaultSort: 'asc'
        },
        {
          name: "#{User.human_attribute_name(:email)}",
          accessor: 'user.email',
          sortKey: 'email'
        },
        {
          name: "#{Officer.human_attribute_name(:role)}",
          accessor: 'role_name',
          sortKey: 'role'
        }
      ],
      actions: ["edit", "destroy"]
    });
