- if !value || !value.is_a?(Hash) then value = {} end

%label
  =response_field[:label]
  - if response_field[:field_options]["required"]
    %span.required-asterisk *

%input.span2{"type" => "text", "placeholder" => "MM", "name" => "response_fields[#{response_field[:id]}][month]", "value" => value['month'], "data-group" => response_field[:id], "data-date" => true, "data-required" => response_field[:field_options]["required"] ? true : false}
\/
%input.span2{"type" => "text", "placeholder" => "DD", "name" => "response_fields[#{response_field[:id]}][day]", "value" => value['day'], "data-group" => response_field[:id], "data-date" => true, "data-required" => response_field[:field_options]["required"] ? true : false}
\/
%input.span2{"type" => "text", "placeholder" => "YYYY", "name" => "response_fields[#{response_field[:id]}][year]", "value" => value['year'], "data-group" => response_field[:id], "data-date" => true, "data-required" => response_field[:field_options]["required"] ? true : false}

%span.help-block= response_field[:field_options]["description"]

