= render "shared/pieces/label", response_field: response_field

%select{"name" => "response_fields[#{response_field[:id]}]", "data-required" => response_field[:field_options]["required"] ? true : false}
  - if response_field[:field_options]["include_blank_option"]
    %option
  - (response_field[:field_options]["options"] || []).each_with_index do |option, i|
    %option{"value" => option["label"], "selected" => value == option["label"] || (value.blank? && option["checked"]) ? true : false}= option["label"]

= render "shared/pieces/description", response_field: response_field
