= render "shared/pieces/label", response_field: response_field

.input-prepend
  %span.add-on $
  %input.span3{"type" => "text", "name" => "response_fields[#{response_field[:id]}]", "value" => value, |
               "data-required" => response_field[:field_options]["required"] ? true : false, |
               "data-min" => !response_field[:field_options]["min"].blank? ? response_field[:field_options]["min"] : false, |
               "data-max" => !response_field[:field_options]["max"].blank? ? response_field[:field_options]["max"] : false }

= render "shared/pieces/description", response_field: response_field
