= form_for [@project, @project.bids.build] do |f|
  - @project.response_fields.each do |response_field|
    .response-field-wrapper
      = render "bids/fields/#{response_field.field_type.downcase}", response_field: response_field, f: f

  .form-actions
    = f.submit "Submit Bid", class: "btn btn-inverse"
    %a.btn#save-draft-link Save Draft