!=page_header @project.title

= render "projects/officer_nav"

#bid-review-page
  :javascript
    new ProcureIo.Backbone.BidReviewPage({keyFields: #{@project.key_fields.to_json}, projectId: #{@project.id}});
