!=page_header @project.title

.row-fluid
  .span7
    %h4= t('bids.project_description')
    %p= simple_format @project.body

  .span5
    %h4= t('.new_bid')
    = render "shared/form", form_action: project_bids_path, responsable: @bid, response_fieldable: @project, button_text: t('.submit_bid')