!=page_header @project.title

.row-fluid
  .span7
    %h4 Project Description
    %p= simple_format @project.body

  .span5
    %h4 My Bid
    = link_to "← Return to project", @project
    = render "bid"