!=page_header @project.title

.row-fluid
  .span7
    %h4 Project Description
    %p= simple_format @project.body

  .span5
    %h4 My Bid

    %div
      - if @bid.dismissed?
        %span.badge.badge-important Dismissed
      - elsif @bid.awarded?
        %span.badge.badge-success Awarded
      - else
        %span.badge.badge-info Open

    = link_to "â† Return to project", @project

    = render "bid"