!=page_header "Notifications"

#notifications-list
  :javascript
    new ProcureIo.Backbone.NotificationPage({bootstrapData: #{@notifications_json}});

= will_paginate @notifications, class: "pagination pagination-centered"