- provide :page_title, t('g.notifications')

!=page_header t('g.notifications')

%p#no-notifications.hide= t('.none')

#notifications-list
  :javascript
    new ProcureIo.Backbone.NotificationPage({bootstrapData: #{@notifications_json}});

= will_paginate @notifications, class: "pagination pagination-centered"
