- provide :page_title, "Notifications"

!=page_header t('notifications.header')

%p#no-notifications.hide= t('.none')
#notifications-list
  :javascript
    new ProcureIo.Backbone.NotificationPage({bootstrapData: #{@notifications_json}});

= will_paginate @notifications, class: "pagination pagination-centered"