!=page_header t('.header')

= form_tag users_forgot_password_path, method: :post do

  = text_field_tag :email, nil, placeholder: t('globals.email_address')

  .form-actions
    %button.btn.btn-primary= t('.send_instructions')
