- provide :page_title, "Forgot Password"

!=page_header t('.header')

= form_tag users_forgot_password_path, method: :post, "data-validate" => "parsley" do

  .control-group
    = text_field_tag :email, nil, placeholder: t('globals.email_address'), "data-required" => true

  .form-actions
    %button.btn.btn-primary= t('.send_instructions')
