!=page_header t('.header')

= render "shared/form", form_action: vendor_profile_path, responsable: @vendor_profile, response_fieldable: GlobalConfig.instance, save_draft_button: false, response_fields: @response_fields