- response_fields.each do |response_field|
  .response-field-wrapper.control-group
    = render "shared/fields/#{response_field[:field_type].downcase}", response_field: response_field, |
      value: defined?(responsable) && (r = responsable.responses.where(response_field_id: response_field.id).first) ? r.value : '', |
      response_fieldable: defined?(response_fieldable) ? response_fieldable : nil, responsable: defined?(responsable) ? responsable : nil
