%h2.splash-header.text-centered Procure.io makes acquisitions easy.

.row-fluid
  .span6.js-fitvid
    %img{"src" => image_path('splash.png')}

  .span6.right-column
    %p.lead
      Create a simple online profile and begin bidding on projects. If you're selected to work on one, we'll walk you through the government registration process.

    %p.lead
      %a.btn.btn-primary.btn-large{"href" => projects_path} Browse the projects
      or <a href="#{for_vendors_path}">take a tour</a>
