- provide :page_title, t('g.settings')

%h3 Settings

.button-nav
  %ul.nav.nav-tabs
    %li{"class" => active_page?("settings#profile")}=link_to t('g.profile'), settings_profile_path
    %li{"class" => active_page?("settings#notifications")}=link_to t('g.notification_settings'), settings_notifications_path
    %li{"class" => active_page?("settings#account")}=link_to "Email & Password", settings_account_path

  .button-nav-group
    %a.btn{"href" => new_vendor_path}
      %i.icon-plus-sign
      Create new vendor profile
