.row-fluid
  .span3
    %ul.nav.nav-pills.nav-stacked
      %li{"class" => active?("collaborators#index")}
        =link_to "Collaborators", project_collaborators_path(@project)

      %li{"class" => active?("projects#import_csv")}
        =link_to "Import bids from CSV", import_csv_project_path(@project)

      %li{"class" => active?("projects#export_csv")}
        =link_to "Export bids", export_csv_project_path(@project)

      %li{"class" => active?("projects#wufoo")}
        =link_to "Wufoo Integration", wufoo_project_path(@project)

  .span9
    = yield