.action-header-wrapper
  %div
    %h3.pull-left
      = @project.title
      %small
        %span.badge.badge-indicator{"class" => @project.status_badge_class}
        = @project.long_status_text

    .pull-right
      - if vendor_signed_in?
        != watch_button @project, class: "dropdown-left action-header-btn", tooltip: t('tooltips.watch_project_vendor')

      - if can? :collaborate_on, @project
        %a.btn.pull-right{"href" => correct_project_admin_path(@project)}
          = t("g.project_admin")
          %i.icon-cog

    .clearfix