%ul.nav.nav-tabs
  %li{"class" => params[:controller] == "projects" && params[:action] == "edit" ? "active" : ""}
    =link_to "Edit Project", edit_project_path(@project)
  %li
    %a Response Fields
  %li{"class" => params[:controller] == "officers" && params[:action] == "index" ? "active" : ""}
    =link_to "Collaborators", project_officers_path(@project)
  - if @project.posted
    %li
      %a Review Bids <span class="badge">X</span>
    %li
      %a Answer Questions <span class="badge badge-important">X</span>

  %li.pull-right
    %a{"href" => project_path(@project)}
      View Project
      %i.icon-share-alt
