- provide :page_action, t('g.comments')

= render "projects/officer_nav"

.row
  #comment-page.span8
    :javascript
      new ProcureIo.Backbone.CommentPageView({bootstrapData: #{@comments_json}, commentableType: "Project", commentableId: #{@project.id}});
