- provide :page_action, "Comments"

= render "projects/officer_nav"

#comment-page
  :javascript
    new ProcureIo.Backbone.CommentPageView({bootstrapData: #{@comments_json}, commentableType: "Project", commentableId: #{@project.id}});
