= render "projects/officer_nav"

#comment-page
  :javascript
    new ProcureIo.Backbone.CommentPageView({bootstrapData: #{@comments_json}, commentableType: "project", commentableId: #{@project.id}});
