- provide :page_action, "Export Bids"

= render "projects/officer_nav"

= render layout: "projects/admin_sidebar" do
  %p= t('projects.export_csv.description', site_name: t('globals.site_name'))

  %div
    = link_to t('projects.export_csv.link_text', count: @project.bids.submitted.count), export_csv_project_path(@project), class: "btn btn-inverse", method: :post