!=page_header "Browse Projects"

%table.table.table-boredered
  %thead
    %tr
      %th Type
      %th Project Title
      %th Bids Due

  %tbody
    - @projects.each do |project|
      %tr
        %td type
        %td= link_to project.title, project
        %td= project.bids_due_at