- provide :page_title, t('globals.browse_projects')

!=page_header t('globals.browse_projects')

#project-page
  :javascript
    new ProcureIo.Backbone.ProjectPage({allCategories: #{Tag.all_for_select2.to_json}});
