- if signed_in?
  - provide :page_action, t('g.browse')

  - if vendor_signed_in?
    = render "projects/vendor_subnav"
  - else # officer_signed_in?
    = render "projects/officer_subnav"

- else
  - provide :page_title, t('g.browse_projects')
  !=page_header t('g.browse_projects')

#project-page.search-page
  :javascript
    new ProcureIo.Backbone.ProjectPage({allCategories: #{Tag.all_for_select2.to_json}});
