- provide :page_action, "Response Fields"

= render "projects/officer_nav"

#admin-response-field-page
  :javascript
    new ProcureIo.Backbone.AdminResponseFieldPage({
      formName: "Vendor Registration Form",
      bootstrapData: #{@project.response_fields.to_json},
      response_fieldable_id: #{@project.id},
      response_fieldable_type: "Project",
      formOptions: #{@project.form_options.to_json}
    });