- if can? :update, @project
  .alert.alert-success
    You're a collaborator on this project. #{link_to "Click here", edit_project_path(@project)} for the admin page.

!=page_header @project.title

.row-fluid
  .span7
    %h4 Project Description
    %p= simple_format @project.body

  .span5
    %h4 Bids due on #{@project.bids_due_at}
    BID NOW BUTTON

    %h4 Questions