!=page_header t('.header')

%table.table
  %thead
    %tr
      %th Project Title
      %th Last Updated

  %tbody
    - @projects.each do |project|
      %tr
        %td= link_to project.title, project_path(project)
        %td= project.updated_at.to_formatted_s(:readable)