- provide :page_title, t('globals.watched_projects')

!=page_header t('globals.watched_projects')

%table.table
  %thead
    %tr
      %th= t('globals.project_title')
      %th= t('globals.last_updated')

  %tbody
    - @projects.each do |project|
      %tr
        %td= link_to project.title, project_path(project)
        %td= project.updated_at.to_formatted_s(:readable)
