!=page_header t('.header')

%ul
  - @projects.each do |project|
    %li
      = link_to project.title, project_path(project)
      %small= t('watches.last_updated', date: project.updated_at.to_formatted_s(:readable))