@import "bootstrap/mixins";

#bid-review-page {

  #label-admin-wrapper {
    display: none;
  }

  &.editing-labels {
    #label-admin-wrapper {
      display: block;
    }

    #label-filter-wrapper {
      display: none;
    }
  }

  #actions-wrapper {
    display: inline-block;
  }

  .right-side-span {
    position: relative;
  }

  .query-wrapper {
    position: absolute;
    top: 0;
    right: 0;
  }

  #sorters-wrapper {
    text-align: right;
    clear: both;
    margin: 10px 0;
  }

  .sidebar-wrapper {
    a {
      .badge {
        float: right;
        margin-top: -2px;
      }
    }
  }
}

#bids-table {
  .controls-td {
    input[type=checkbox] {
      margin-right: 5px;
    }
  }

  .total-stars {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 22px;
    height: 15px;

    > i {
      font-size: 24px;
      width: 22px;
      color: #aaa;
      position: absolute;
      top: -3px;
    }

    > span {
      position: absolute;
      width: 22px;
      left: 0;
      text-align: center;
      font-size: 11px;
    }
  }

  .read-marker {
    font-size: 10px;
  }

  .vendor-name {
    font-weight: 400;
  }

  .bid-tr-unread {
    .vendor-name {
      font-weight: bold;
    }
  }
}

#labels-list {
  .icon-remove-sign {
    display: none;
    color: #fff;
    text-shadow: none;
    margin: 2px 4px 0 0;
  }

  li.active {
    .icon-remove-sign {
      display: block;
    }
  }
}

#labels-admin-list {
  .click-to-edit {
    display: none;
    margin-left: 10px;
    color: #aaa;
  }

  li:hover {
    .click-to-edit {
      display: inline;
    }
  }
}

.bid-search-form {
  position: relative;

  .clear-search {
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: 75px;
    z-index: 2;

    a {
      color: #666;
      text-decoration: none;
      font-size: 18px;
    }
  }
}
