.body-home-index {
  .splash-header {
    margin-bottom: 40px;
  }

  .right-column {
    padding-top: 70px;
  }

  .for-government {
    margin-top: 50px;
  }
}

.body-home-for_vendors {

}

.body-home-for_organizations {
  .organization-video {
    max-width: 600px;
    margin: 0 auto 40px;
  }
}

.feature-tour {
  .row-fluid {
    padding-top: 15px;
    margin-top: 15px;
    border-top: 1px solid #eee;
  }

  .feature-description {
    margin-top: 10px;
  }

  .call-to-action {
    margin: 40px 0 30px;
  }
}
