%input{"type" => "text", "name" => "event_hooks[#{v}][url]", "placeholder" => "URL", "value" => current_value && current_value['url']}

%p Procure.io will send a POST request to this URL when a new project is posted.