= render "admin/nav"

= link_to t('.back_to_list_html'), vendors_path

= render "shared/form", form_action: vendor_path(@vendor.id), responsable: @vendor_profile, response_fieldable: GlobalConfig.instance, save_draft_button: false, form_method: :put