- provide :page_action, t('globals.vendors')

= render "admin/nav"

#vendors-admin-page
  :javascript
    new ProcureIo.Backbone.VendorsAdminPage({key_fields: #{GlobalConfig.instance.key_fields.to_json}, response_fields: #{@response_fields_json}});
