%tr
  %th{"colspan" => "4", "style" => "border-top: none;"} &nbsp;
%tr
  %th{"style" => "border-top: none;"}= section_name
  %td{"style" => "border-top: none;"} Never
  %td{"style" => "border-top: none;"} When Collaborator
  %td{"style" => "border-top: none;"} When Owner

