%tr
  %td= permission_name
  %td
    %input{"type" => "radio", "name" => permission_key, "value" => "never"}
  %td
    %input{"type" => "radio", "name" => permission_key, "value" => "when_collaborator"}
  %td
    %input{"type" => "radio", "name" => permission_key, "value" => "when_owner"}
