%tr
  %th{"style" => "border-top: none;", "width" => "40%"}= section_name
  %td{"style" => "border-top: none;"} Never
  %td{"style" => "border-top: none;"} When Owner
  %td{"style" => "border-top: none;"} When Collaborator

