%h5= t('g.revisions')

%ul
  - @project.project_revisions.each do |project_revision|
    - if defined?(current_revision_id) && project_revision.id == current_revision_id
      %li= t('g.date_by_officer', date: project_revision.created_at.to_formatted_s(:readable), officer: project_revision.saved_by_user.display_name)
    - else
      %li
        %a{"href" => project_project_revision_path(@project, project_revision)}
          = t('g.date_by_officer', date: project_revision.created_at.to_formatted_s(:readable), officer: project_revision.saved_by_user.display_name)
