- response = @bid && @bid.responses.where(response_field_id: response_field[:id]).first

%label
  =response_field[:label]
  - if response_field[:field_options]["required"]
    %span.required-asterisk *

%input{"type" => "file", "name" => "response_fields[#{response_field[:id]}]", "data-required" => response_field[:field_options]["required"] ? true : false, "data-trigger" => "change", "data-value" => (response && response.upload?) ? 'exists' : false}

- if response && response.upload?
  %div.current-upload
    %strong Current Upload:
    %a{"href" => response.upload.url}= response.upload.file.filename.gsub(/\?.*$/, '')
    = link_to "(X)", project_bid_response_path(@project, @bid, response), method: :delete, remote: true, class: "js-remove-bid-response-upload"

%span.help-block= response_field[:field_options]["description"]

