.dropdown-login-form {
  padding: 0 10px 10px;
  margin: 0;

  .login-button-wrapper {
    button {
      margin-top: 0;
    }
  }

  .signup-links-wrapper {
    padding-top: 10px;
  }

  .forgot-password-wrapper {
    padding-top: 10px;
    color: #aaa;
    font-size: 12px;
  }
}