#push,
#footer {
  height: 125px;
  padding: 10px 0;
}

#footer {
  background-color: #eee;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align :center;

  .footer-container {
    display: inline-block;
    text-align: left;
  }

  .footer-link-list {
    padding-top: 5px;
    margin: 3px 50px 0 0;

    strong {
      display: inline-block;
    }

    ul {
      list-style: none;
      margin: 0;

      li {
        display: inline;
        margin-right: 10px;
      }
    }

    i {
      color: #2fa4e7;
    }
  }

  .logo-wrapper {
    float: left;
  }

  .link-wrapper {
    margin-top: 10px;
    margin-left: 150px;
  }

  .dobt-logo {
    width: 125px;
    height: 125px;
  }
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}