#god-mode-navbar {
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: #222;
  padding: 15px 0;
  color: #eee;
  z-index: 5;

  a {
    color: #eee;
  }

  ul {
    display: inline;
    margin: 0 0 0 20px;
    list-style: none;

    li {
      display: inline;
    }
  }

  form {
    margin: 0;
  }

  input {
    margin: 0 3px;
    color: #eee;
    background: transparent;
    border: 0;
    border-bottom: 1px dotted #eee;
    border-radius: 0;
    padding: 0;

    &:focus {
      outline: 0px !important;
      -webkit-appearance:none;
      box-shadow: none;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
    }
  }

  .brand {
    font-weight: bold;
  }
}