#hotkey-modal {
  dl.dl-horizontal {
    dt, dd {
      margin-bottom: 5px;
    }

    dt {
      float: left;
      width: auto;
    }

    dd {
      float: left;
      margin-left: 10px;
    }
  }
}