#ask-question {
  form {
    margin-bottom: 5px;
  }
  textarea {
    min-height: 70px;
  }
}

#questions-list {
  margin-top: 10px;
}

.question {
  .question-body {
    margin-bottom: 10px;
  }

  .answer-body, .no-answer-body {
    font-style: italic;
  }

  .answer-body {
    .answered-by {
      font-size: 11px;
    }
  }
}
