.search-page {
  position: relative;

  .new-btn {
    margin-left: 5px;
  }

  thead {
    a {
      color: #555;
    }
  }
}

#filter-form {
  position: relative;
  margin-bottom: 10px;

  .clear-search {
    position: absolute;
    top: 5px;
    right: 12px;
    color: #666;
    font-size: 18px;
    text-decoration: none;

    &:hover {
      color: #555;
    }
  }
}