// First import journal variables
@import "bootswatch/cerulean/variables";

// Then bootstrap itself
@import "bootstrap";

// Responsive styles go here in case you want them
@import "bootstrap-responsive";

// And finally bootswatch style itself
@import "bootswatch/cerulean/bootswatch";

a {
  cursor: pointer;
}

body {
  background-color: #eee;
}

.table-nonfluid {
  width: auto;
}

#navbar {
  margin-bottom: 0;

  .navbar-inner {
    @include border-radius(0px);
  }

  .gravatar {
    width: 20px;
    height: 20px;
    @include border-radius(10px);
    margin: -2px 3px 0 0;
  }
}

.outer-container {
  padding: 20px 0;
  background-color: #fff;
}

@media (max-width: 767px) {
  .outer-container {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#ask-question {
  form {
    margin-bottom: 5px;
  }
  textarea {
    min-height: 70px;
  }
}

#questions-list {
  margin-top: 10px;
}

.question {
  .question-body {
    margin-bottom: 10px;
  }

  .answer-body, .no-answer-body {
    font-style: italic;
  }

  .answer-body {
    .answered-by {
      font-size: 11px;
    }
  }
}

#footer {
  padding: 10px 0;
  background-color: #eee;
}

#response-fields {
  .response-field {
    cursor: pointer;
    position: relative;

    &:hover {
      .actions-wrapper {
        display: block;
      }
    }

    .actions-wrapper {
      display: none;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }

  .sortable-placeholder {
    border: 1px dashed #ccc;
    margin-bottom: 18px;
  }
}

.edit-response-field {
  h5 {
    border-top: 1px dotted #ccc;
    padding-top: 10px;
  }

  .icon-arrow-right {
    color: #444;
  }
}

.required-asterisk {
  color: red;
}

input[type=checkbox].inline {
  margin: 0;
}

#bid-review-page {
  #actions-wrapper {
    display: inline-block;
  }

  .pagination {
    margin: 0;
  }

  .right-side-span {
    position: relative;
  }

  #loading-indicator {
    display: none;
    position: absolute;
    top: 70px;
    left: 50%;
    width: 100px;
    text-align: center;
    margin-left: -50px;
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 2px 0;
    z-index: 2;
  }

  .sort-wrapper {
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 12px;
  }

  &.loading {
    #actions-wrapper,
    #pagination-wrapper,
    #bids-table {
      @include opacity(75);
    }

    #loading-indicator {
      display: block;
    }
  }
}

.action-header {
  hr {
    margin: 10px 0 20px;
    clear: both;
  }
}

.readable-width {
  max-width: 550px;
}

.readable-width-large {
  max-width: 750px;
}

.comment {
  .gravatar {
    width: 20px;
    height: 20px;
    @include border-radius(10px);
    margin: -2px 3px 0 0;
    // @todo merge this style
  }

  .author {
    padding-bottom: 13px;
  }

  .author-name {
    font-weight: bold;
  }

  .posted-at {
    color: #aaa;
  }
}

#new-comment-form {
  textarea {
    width: 100%;
    min-height: 90px;
    box-sizing: border-box;
  }
}

#project-page {
  .right-side-span {
    position: relative;
  }

  #loading-indicator {
    display: none;
    position: absolute;
    top: 70px;
    left: 50%;
    width: 100px;
    text-align: center;
    margin-left: -50px;
    background-color: #eee;
    border: 1px solid #ddd;
    padding: 2px 0;
    z-index: 2;
  }

  &.loading {
    #projects-wrapper,
    #pagination-wrapper,
    #sort-wrapper {
      @include opacity(75);
    }

    #loading-indicator {
      display: block;
    }
  }


}

.project {
  padding: 12px 0;
  border-top: 1px dashed #ccc;

  &:first-child {
    border-top: 0;
  }

  .project-name {
    font-size: 16px;
    font-weight: bold;
  }

  .project-department {
    font-size: 12px;
    color: #aaa;
  }

  .bottom-info {
    font-size: 12px;
    color: #aaa;

    > span {
      margin: 0 2px;
    }
  }

}
