- provide :page_title, @organization.name

%ul.nav.nav-tabs
  %li{"class" => active_page?("organizations#edit") || active_page?("organizations#update")}
    =link_to "Edit Info", edit_organization_path(@organization)
  %li{"class" => active_page?("teams")}=link_to "Teams", organization_teams_path(@organization)
  %li{"class" => active_page?("organizations#members")}=link_to "Members", members_organization_path(@organization)
  %li{"class" => active_page?("organization_registrations")}=link_to "Vendor Registration Forms", organization_registrations_path(@organization)

  %li.disabled
    %a Event Hooks
