!=page_header @project.title

= render "projects/officer_nav"

=link_to "New Amendment", project_amendments_path(@project), method: :post, class: "btn btn-inverse"

%ul
  - @project.amendments.each do |amendment|
    %li
      %a{"href" => project_amendment_path(@project, amendment)}= amendment.id