- provide :page_action, t('g.form_templates')

= render "admin/nav"

#searchable-table-page.search-page
  :javascript
    new ProcureIo.Backbone.SearchableTable({
      collection: ProcureIo.Backbone.FormTemplateList,
      columns: [
        {
          name: "#{FormTemplate.human_attribute_name(:name)}",
          accessor: 'name',
          sortKey: 'name',
          defaultSort: 'asc'
        }
      ]
    });
