- provide :page_title, t('g.form_templates')

.row-fluid
  .span6
    %h4 Available templates

    %table.table
      %thead
        %tr
          %th Name
          %th Actions
      %tbody
        - @form_templates.each do |form_template|
          %tr
            %td= form_template.name
            %td
              = link_to "Use", use_form_template_path(form_template.id, request.parameters), method: :post
              &middot;
              %a.js-preview-form-template{"href" => preview_form_template_path(form_template.id), "data-remote" => "true"} Preview


    = will_paginate @form_templates, class: "pagination pagination-centered"

  .span6.preview-column-wrapper
    .preview-wrapper.faded-while-loading


    .no-preview.faded-while-loading
      %h4 Preview
      %p Select a template on the left to preview it.

    = render "shared/loading_indicator"