.row-fluid
  .span3
    %h4= t('.general_stats')
    %ul.nav.nav-pills.nav-stacked
      %li{"class" => active?("reports#bids_over_time")}
        =link_to t('.bids_over_time'), bids_over_time_project_reports_path(@project)
      %li{"class" => active?("reports#impressions")}
        =link_to t('.impressions'), impressions_project_reports_path(@project)

    %h4= t('.response_fields')
    %ul.nav.nav-pills.nav-stacked
      - @project.response_fields.where("field_type IN (?)", ResponseField::REPORTABLE_FIELDS).each do |response_field|
        %li{"class" => active?("reports#response_field?response_field_id=#{response_field.id}")}
          =link_to response_field.label, response_field_project_reports_path(@project, response_field_id: response_field.id)

  .span9
    = yield