= render "projects/officer_nav"

= render layout: "reports/sidebar" do
  - if @data && @data.length > 1
    #chart

    :javascript
      ProcureIo.chartData = #{@data.to_json};
  - else
  %p= t('reports.common.no_data')
