= render "projects/officer_nav"

= render layout: "reports/sidebar" do
  - if @data
    #chart

    :javascript
      ProcureIo.chartData = #{@data.to_json};
  - else
    %p Sorry, no data to display.
