.dropdown-menu
  = form_tag users_signin_path, method: :post, class: "dropdown-login-form" do
    %h4 Sign in to Procure.io
    = text_field_tag :email, nil, placeholder: "Email Address"
    = password_field_tag :password, nil, placeholder: "Password"
    .login-button-wrapper
      %button.btn.btn-primary Sign in
      or <a href="#{new_vendor_registration_path}">sign up</a>.
